<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>title</key>
	<string>Badge Configuration</string>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>id</key>
			<string>ENABLE_BADGES</string>
			<key>key</key>
			<string>CNEnableBadges</string>
			<key>label</key>
			<string>Enable badges</string>
			<key>set</key>
			<string>toggleEnableBadges:forSpecifier:</string>
			<key>icon</key>
            <string>power.png</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Badge Style</string>
			<key>footerText</key>
			<string>Adaptive badge color will give the badge the most used color of the tweak's icon.</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>key</key>
			<string>CNEnableAdaptiveBadgeColor</string>
			<key>label</key>
			<string>Adaptive badge color</string>
			<key>id</key>
			<string>ENABLE_ADAPTIVE_COLOR</string>
			<key>set</key>
			<string>toggleAdaptiveColor:forSpecifier:</string>
			<key>icon</key>
            <string>adaptivecolor.png</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>badge text color</string>
			<key>id</key>
			<string>BADGE_TEXT_COLOR_GROUP</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSegmentCell</string>
			<key>key</key>
			<string>CNBadgeTextColor</string>
			<key>id</key>
			<string>BADGE_TEXT_COLOR</string>
			<key>validValues</key>
			<array>
				<string>white</string>
				<string>black</string>
				<string>red</string>
				<string>orange</string>
				<string>cyan</string>
				<string>purple</string>
			</array>
			<key>validTitles</key>
			<array>
				<string>white</string>
				<string>black</string>
				<string>red</string>
				<string>orange</string>
				<string>cyan</string>
				<string>purple</string>
			</array>
			<key>default</key>
			<string>white</string>
			<key>alignment</key>
			<string>3</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>badge background color</string>
			<key>id</key>
			<string>BADGE_COLOR_GROUP</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSegmentCell</string>
			<key>key</key>
			<string>CNBadgeColor</string>
			<key>id</key>
			<string>BADGE_COLOR</string>
			<key>validValues</key>
			<array>
				<string>white</string>
				<string>black</string>
				<string>red</string>
				<string>orange</string>
				<string>cyan</string>
				<string>purple</string>
			</array>
			<key>validTitles</key>
			<array>
				<string>white</string>
				<string>black</string>
				<string>red</string>
				<string>orange</string>
				<string>cyan</string>
				<string>purple</string>
			</array>
			<key>default</key>
			<string>red</string>
			<key>alignment</key>
			<string>3</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>key</key>
			<string>CNEnableBadgeBorder</string>
			<key>label</key>
			<string>Enable border around badge</string>
			<key>icon</key>
            <string>border.png</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Badge alignment	</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSegmentCell</string>
			<key>key</key>
			<string>CNBadgeAlignment</string>
			<key>validValues</key>
			<array>
				<string>left</string>
				<string>right</string>
			</array>
			<key>validTitles</key>
			<array>
				<string>left</string>
				<string>right</string>
			</array>
			<key>default</key>
			<string>right</string>
			<key>alignment</key>
			<string>right</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Custom badge text</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>placeholder</key>
			<string>Update available</string>
			<key>key</key>
			<string>CNCustomBadgeText</string>
		</dict>
	</array>
</dict>
</plist>
